.cabecalho {
  background-color: #f4f1de;
}

.contatos {
  display: flex;
  justify-content: space-around;
  background-color: #335c67;
  padding: 15px;
}

.contatos a {
  color: #fff3b0;
}

.segundo-cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.menu img {
  max-width: 100%;
  margin-right: 25px;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.servicos {
  list-style: none;
  display: flex;
  gap: 25px;
  flex: 1;
  flex-wrap: wrap;
}

.servicos .serv-1 a , .serv-2 a {
  border: 1px solid #335c67;
  color: #335c67;
  font-size: 22px;
  text-decoration: none;
  border-radius: 50px;
  padding: 14px;
  background-color: #fff3b0;
}

.servicos .serv-3 a{
  border: 1px solid #335c67;
  border-radius: 50px;
  padding: 14px;
  font-size: 22px;
  background-color: #43aa8b;
  color: #fff3b0;
  text-decoration: none;
}

.servicos .serv-1 a:hover {
  background-color: #f2e8d9;
  color: #000000;
  border: 1px solid #000000;
}

.servicos .serv-2 a:hover {
  background-color: #f2e8d9;
  color: #000000;
  border: 1px solid #000000;
}

.servicos .serv-3 a:hover {
  color: #335c67;
}