.slide {
    display: flex;
    margin: 15px;
    border-radius: 30px;
    border-left: 5px solid #335c67;
    border-right: 5px solid #335c67;
}

.imagem-principal {
    max-width: 150%;
    border-radius: 30px;
}

.frase {
    font-size: 36px;
    flex-wrap: wrap;
    position: relative;
    left: 25px;
    top: 110px;
    color: #335c67;
}

.tipos-seguros{
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: space-around;
    padding: 25px;
    flex-wrap: wrap;
}

.tipos-seguros li {
    color: #335c67;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
}

img {
    margin: 0 auto;
    cursor: pointer;
    flex-wrap: wrap;
    border-radius: 20px;
}

.tipos-seguros li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: #fff3b0;
}


.solucoes {
    text-align: center;
    padding: 25px;
    font-size: 25px;
    margin: 15px;
    border-top: 1px solid #edede9;
    border-bottom: 1px solid #edede9;
}

.texto-solucoes {
    text-align: center;
    font-size: 20px;
    margin: 25px 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #edede9;
}

.opcoes {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.opcoes li{
    font-weight: bold;
    font-size: 21px;
}

.opcoes svg {
    font-size: 50px;
}

.opcoes svg:hover {
    cursor: pointer;
    font-size: 60px;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
