@media (max-width: 600px) {
  /* Estilos para telas menores que 300px de largura */
  .contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .slide {
    display: block;
    padding: 20px;
  }

  .frase {
    text-align: center;
    position: relative;
    left: 2px;
    top: -5px;
    color: #335c67;
  }
  
  .slide img {
    width: 100%;
    position: relative;
    bottom: -8px;
    right: 5px;
    border-radius: 30px;
  }

  .menu {
    gap: 20px;
  }

  .menu .servicos li a{
    font-size: 19px;
    display: flex;    
  }

  .servicos .serv-1 {
    margin: 0 auto;
  }

  .servicos .serv-2 {
    margin: 0 auto;
  }

  .servicos .serv-3 {
    margin: 0 auto;
  }
}


/* Reduzir o tamanho da imagem em tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    max-width: 100%;
  }

  .menu img {
    max-width: 280px;
  }

  .menu .servicos li a{
    font-size: 19px;
    display: flex;  
  }

  .servicos .serv-1 a , .serv-2 a {
    font-size: 15px;
  }

  .servicos .serv-3 a{
    font-size: 15px;
  }

  .slide {
    gap: 30px;
    text-align: center;
  }

  .slide .frase {
    font-size: 20px;
  }

  .slide img {
    
    max-width: 380px;
  }

  .tipos-seguros {
    gap: 100px;
  }
}

